body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.btn{
  background-color: #fff;
}
a {
  color: #00B7FF;
}

#main-container {
 position: relative;
 margin: 0;
 padding: 0;
}

.pane
{
  height: 100vh;
  padding: 0;
}

.pane-technical
{
  background: url('https://s26.postimg.org/4oqu6ywi1/banner.jpg');
  background-size: cover;
}


.pane-content
{
  display: none;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: rgba(0,0,0,0.35);
  text-align: right;
}

.pane-content h1
{
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'LemonMilk', cursive;
  font-size: 12vw;
  font-stretch: expanded;
  color: rgba(255, 255, 255, 0.85);
  position: relative;
}
.reset-btn
{
  display: none;
  text-align: right;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 20px;
  padding-top: 20px;
  font-family: 'LemonMilk', cursive;
  font-size: 2vw;
  font-stretch: expanded;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 4000;
  cursor: pointer;
}
.reset-btn:hover
{
  color: rgba(209, 58, 71, 1);
}


.pane-content p
{
  padding-top: 30vh;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  padding-right: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}

.pane-content button
{
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  
  cursor: pointer;
}

.pane-content button:hover
{
  color: black;
  background-color: white;
}

.pane-cultural
{
  background: url('https://s26.postimg.org/4l15l2zgp/concert_768722_960_720.jpg');
  background-size: cover;
  background-position: 33.33% 0%;
  background-repeat: no-repeat;
}
.pane-social
{
  background: url('https://s26.postimg.org/jahuv7tah/DSC076381.jpg');
  background-size: cover;
  background-position:80.66% 0%;
  background-repeat: no-repeat;
}

.overlay
{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.35);
  text-align: center;
}
.header
{
  height: 30vh;
}
.header img
{
  height: 30vh;
}
.hero
{
  height: 40vh;
}
.hero-overlay
{
  height: 40vh;
  width: 70vw;
  position: absolute;
  top:30vh;
  left: 15vw;
}

.tagline
{
  margin-top: 0;
  font-family: 'LemonMilk', cursive;
  font-size: 10vw;
  font-stretch: expanded;
  color: rgba(255, 255, 255, 0.85);
  position: relative;
  top: 0px;
}

#main-container .byline {
  display: none;
  padding-top: 60px;
}

.link_tags {
  display: none;
  pointer-events: none;
  padding-top: 400%;
}
.link_tags h1{
  font-family: 'LemonMilk', cursive;
  font-size: 30px;
  margin-bottom: 0;
  color:white;
  transform: rotate(270deg);
}

.link_tags_mobile{
  font-family: 'LemonMilk', cursive;
  color:white;
  padding-left: 20%;
  padding-top: 30%;
}

#timer{
  color:#ff3838;
  font-size: 2vw;
  display: none;
}


#timer-mobile{
  color:#ff3838;
  font-size: 5vw;
  text-align: center;

}


#mobile-container
{
  display: none;
}

#pc-tag{
  color:white;
  font-size:20px;
}



@media only screen and (max-width: 992px) {

    #main-container {
       display: none;
    }
    #mobile-container
    {
      display: block;
      position:relative;
    }

    .overlay-mobile
{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.35);
  text-align: center;
}

.pane-mobile
{
  height: 100vh;
  padding: 0;
}

.pane-technical-mobile
{
  background: url('https://s26.postimg.org/4oqu6ywi1/banner.jpg');
  background-size: cover;
}

    .pane-main-mobile
    {
      background: url('https://s26.postimg.org/bfbwu591l/CONCERT.jpg');
      background-size: cover;
      background-position: 33.33% 2%;
      background-repeat: no-repeat;
    }

    .pane-content-mobile{
      padding-top: 5vh;
      text-align: center;
    }

    .pane-content-mobile h1
{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'LemonMilk', cursive;
  font-size: 12vw;
  font-stretch: expanded;
  color: rgba(255, 255, 255, 0.85);
  position: relative;
}

    .pane-cultural-mobile
{
  background: url('https://s26.postimg.org/4l15l2zgp/concert_768722_960_720.jpg');
  background-size: cover;
  background-position: 33.33% 0%;
  background-repeat: no-repeat;
}
.pane-social-mobile
{
  background: url('https://s26.postimg.org/jahuv7tah/DSC076381.jpg');
  background-size: cover;
  background-position:80.66% 0%;
  background-repeat: no-repeat;
}


    #mobile-container .overlay-mobile
    {
      position: fixed;
      top:0;
      text-align: right;
      background-color: rgba(0,0,0,0.45);
    }

    #mobile-container .logo-mobile
    {
      width: 45vw;
    }

    #mobile-container .byline-mobile
    {
      margin-top: 5vh;
      color: white;
      font-size: x-large;
    }

    .content-roll-mobile
    {
      position: absolute;
      width: 100vw;
    }
    .background-roll-mobile
    {
      position: absolute;
      width: 100vw;
    }

}

/*Styling for countdown timer*/

a {
  text-decoration: none;
  color: #1a1a1a;
}

h1 {
  margin-bottom: 60px;
  text-align: center;
  font: 300 2.25em "Lato";
  text-transform: uppercase;
}
h1 strong {
  font-weight: 400;
  color: #ea4c4c;
}

h2 {
  margin-bottom: 80px;
  text-align: center;
  font: 300 0.7em "Lato";
  text-transform: uppercase;
}
h2 strong {
  font-weight: 400;
}

.countdown {
  width: 80vw;
  margin: 20px auto;
}
.countdown .bloc-time {
  float: left;
  margin-right: 45px;
  text-align: center;
}
.countdown .bloc-time:last-child {
  margin-right: 0;
}
.countdown .count-title {
  display: block;
  margin-bottom: 15px;
  font: normal 0.94em "Lato";
  color: #ffffff;
  text-transform: uppercase;
}
.countdown .figure {
  position: relative;
  float: left;
  height: 110px;
  width: 100px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 8px;
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}
.countdown .figure:last-child {
  margin-right: 0;
}
.countdown .figure > span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font: normal 5.94em/107px "Lato";
  font-weight: 700;
  color: #de4848;
}
.countdown .figure .top:after, .countdown .figure .bottom-back:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.countdown .figure .top {
  z-index: 3;
  background-color: #f7f7f7;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-transform: perspective(200px);
  -ms-transform: perspective(200px);
  -webkit-transform: perspective(200px);
  transform: perspective(200px);
}
.countdown .figure .bottom {
  z-index: 1;
}
.countdown .figure .bottom:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.02);
}
.countdown .figure .bottom-back {
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
  background-color: #f7f7f7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
.countdown .figure .bottom-back span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.countdown .figure .top, .countdown .figure .top-back {
  height: 50%;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.countdown .figure .top-back {
  z-index: 4;
  bottom: 0;
  background-color: #fff;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-transform: perspective(200px) rotateX(180deg);
  -ms-transform: perspective(200px) rotateX(180deg);
  -webkit-transform: perspective(200px) rotateX(180deg);
  transform: perspective(200px) rotateX(180deg);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.countdown .figure .top-back span {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}